<div class="text-center">
    <button class="margin-top button icon-left ion-social-google button-full button-assertive" ng-click="loginh_ctrl.loginWithGoogle()">
        {{loginh_ctrl.loading_google?'Signing in with Google':'Sign in with Google'}}
    </button>
    <button class="button icon-left ion-social-facebook button-full button-positive " ng-click="loginh_ctrl.loginWithFacebook()">
        {{loginh_ctrl.loading_facebook?'Signing in with Facebook':'Sign in with Facebook'}}
    </button>
</div>